
{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sharon Cohen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<!-- <link rel="stylesheet" href="{% static 'css/flexslider.css' %}"> -->
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'css/fonts/flaticon/font/flaticon.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url(static/images/me.jpg);"></div>
				<h1 id="colorlib-logo"><a href="index.html">Sharon Cohen</a></h1>
				<span class="position"><a href="#">Software Engineering student <br>Flutter devaloper </a></span>
			
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="about">Home</a></li>
						<li><a href="#" data-nav-section="projects">projects</a></li>
						<li><a href="#" data-nav-section="experience">Experience</a></li>
						<li><a href="#" data-nav-section="contact">CONTACT</a></li>
					</ul>
				</div>
			</nav>
		</aside>
		<div id="colorlib-main">
			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">About Me</span>
										<h2 class="colorlib-heading">Who Am I?</h2>
										<p><strong>Hi I'm Sharon Cohen</strong> I am 23 years old. I am a second year student and I study software engineering  </p>
										<p>I have a passion for programming in different languages ​​and platforms.I especially love to program and design complex and challenging systems in c, c ++ and flutter and design
											 algorithms and database.
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3>Low-level</h3>
										<p>System programming using C</p>
										<p>Assembly-Mano CPU</p>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3>object oriented</h3>
										<p>System programming using C++</p>
										<p>Design Patterns</p>
										<br>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3>Web</h3>
										<p>HTML,css,js</p>
										<p>bootstrap</p>
										<p>Django</p>
										<br>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3>Flutter</h3>
										<p>full stack developer</p>
										<p>db-mySQL ,SQLite, Firebase</p>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="colorlib-education" data-section="projects">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">projects</span>
							<h2 class="colorlib-heading animate-box">PROJECTS</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">C-PROJECTS
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											 <div class="panel-body">
												<div class="row">
														{% for post in post_list %}
														{%if post.type_proj == '0' %}
																<h2 class="card-title">{{ post.title }}</h2>
																<p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
																<p class="card-text">{{post.content|slice:":200" }}</p>
																{% if post.url %}
																<a href="{{post.url}}" target="_blank">Click for Git review{{project.title}}</a>
																{% endif %}
															 {% endif %}
														{% endfor %}
												</div>
											 </div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">C++ PROJECTS
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												{% for post in post_list %}
														{%if post.type_proj == '1' %}
																<h2 class="card-title">{{ post.title }}</h2>
																<p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
																<p class="card-text">{{post.content|slice:":200" }}</p>
														
																{% if post.url %}
																<a href="{{post.url}}" target="_blank">Click for Git review {{project.title}}</a>
																{% endif %}
															 {% endif %}
														{% endfor %}
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">FLUTTER PROJECTS
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												{% for post in post_list %}
														{%if post.type_proj == '2' %}
																<h2 class="card-title">{{ post.title }}</h2>
																<p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
																<p class="card-text">{{post.content|slice:":200" }}</p>
														
																{% if post.url %}
																<a href="{{post.url}}" target="_blank">Click for Git review {{project.title}}</a>
																{% endif %}
															 {% endif %}
														{% endfor %}
											</div>
										</div>
									</div>
			
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">WEB PROJECTS
												</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<div class="panel-body">
												{% for post in post_list %}
												{%if post.type_proj == '3' %}
														<h2 class="card-title">{{ post.title }}</h2>
														<p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
														<p class="card-text">{{post.content|slice:":200" }}</p>
														{% if post.url %}
														<a href="{{post.url}}" target="_blank">Click for Git review {{project.title}}</a>
														{% endif %}
													 {% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Experience</span>
							<h2 class="colorlib-heading animate-box"> Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Developer Student Club of Google</a> <span>2019-tody</span></h2>
					                  <p>Helping students bridge the gap between theory and practice
										Developer Student Clubs are university based community groups for students interested in Google developer technologies.
										tudents grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.
									</p>
					               </div>
					            </div>
					         </article>
					         <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Get in Touch</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="#">sharonc49510@gmail.com</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p>Moshe hadis 5 st., Yehud, Israel </p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+972 54674083</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>

